
body{
  background-color: lightcyan;
}
  .sky{
    position: relative;
  }
  .sky{
    height: 30%;
    background: skyblue;
    
  }
  .change-location{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 106px;
 }

  /*// ELEMENTS TO ANIMATE //*/
  
  
  
  /*// KEYFRAMES //*/
  
  .cloud-move{
    animation-name: cloud1;
    animation-duration: 120s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction:linear
  }

  .cloud-move-1{
    animation-name: cloud2;
    animation-duration: 120s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction:reverse
  }
  .icon{
    position:relative;
    top:-50px;
    border-radius:5%;
    width:10px;
    margin-bottom:-50px;
  }
  
  @keyframes cloud1 {
    from{transform: translateX(-100px);}
    to{transform: translateX(2000px);}
  }
  @keyframes cloud2 {
    from{transform: translateX(-100px);}
    to{transform: translateX(1000px);}
  }
  
  
  
  